@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../src/asset/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url('../src/asset/fonts/Nunito-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../src/asset/fonts/Nunito-Bold.ttf') format('truetype');
}

@theme {
  --font-sans:
    'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950 font-sans text-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
